# Descriptive Statistics

Exploring the data

In [ ]:
import numpy as np
import ast
import re
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import plotly.graph_objects as go
%matplotlib inline

## Load data

In [ ]:
df = pd.read_json("data_clean.json")

## General Overview

In [ ]:
# Number of observations
print('There are',df.shpae[0],'observations.')

In [ ]:
# Wage
print('The mean wage is', df.rate.mean())
print('The median wage is', df.rate.median())
print('The standard deviation is',df.rate.std())

In [ ]:
# wage distribution
sns.set_style("darkgrid")
sns.distplot(df.rate)
plt.savefig('wage_distribution.png',dpi=300)

In [148]:
# Job categories
print('Number of major job categories:', len(df.category_1.unique()))
print('Number of minor job categories:', len(df.category_2.unique()))

93

In [ ]:
# Count and median wage by job category
df.groupby(['category_1']) \
       .agg({'date':'size',"rate":"median"}) \
       .rename(columns={'date':'count', 'rate':'median_wage'})

## Skills

In [6]:
# Count how many times each skill occurs

skill_dict = { i : 0 for i in list_of_skills }

for index, row in df.skills.iteritems():
    
    if  isinstance(row,list):
        
        for skill in row:
            skill_dict[skill] += 1
    
    if  isinstance(row,str):
        
        skill_dict[row] += 1

    else:
        pass

In [8]:
# Save dict of skill count
import pickle

filename = 'dict_of_skills'
outfile = open(filename,'wb')
pickle.dump(skill_dict,outfile)
outfile.close()

In [ ]:
# Load dict
import pickle
filename = 'dict_of_skills'
infile = open(filename,'rb')
skill_dict = pickle.load(infile)
infile.close()

In [7]:
# Top 10 skills in terms of frequency
skill_count = pd.DataFrame.from_dict(skill_dict, orient='index',columns=['count'])
skill_count = skill_count.sort_values("count", ascending=False)
skill_count.sort_values("count", ascending=False).head(10)

                     count
wordpress            52694
javascript           50722
graphic-design       50445
web-design           49438
website-development  49187
css                  40080
php                  39972
content-writing      39239
adobe-photoshop      38856
data-entry           36918

In [ ]:
# Number of unique skills
print('Number of unique skills is:',skill_count.shape[0])