# SOC skill scores

Map upwork job categories to SOC occupations and assign skill score

In [1]:
import numpy as np
import ast
import re
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import plotly.graph_objects as go
%matplotlib inline

## Load data

In [77]:
df = pd.read_csv("ole_data.csv")

In [78]:
translator = pd.read_excel("2018-01-11 SOCcer Grouped Results Classified.xlsx")

In [79]:
# Only keep these two columns

# Official occupations I merge on: detailedOccupations
# Upwork job titles: jobTitle

translation = translator[['detailedOccupations', 'jobTitle']].copy()

### Transform and merge

In [80]:
skill_occupation = df.groupby(['project_occupation'],as_index=False) \
       .agg({"SkillScore":"mean"})

In [81]:
# Merge
pd.set_option('display.max_rows', 90)
skill_scores = translation.merge(skill_occupation, how='left',left_on="detailedOccupations", right_on="project_occupation")

### Load labour market data

In [49]:
df = pd.read_json("/Users/oleteutloff/Desktop/Madda_Network/data_clean.json")

In [51]:
skill_occupation = df.groupby(['category_2'],as_index=False) \
       .agg({"date":"size"})

In [54]:
skill_occupation.head()

                    category_2  date
0            3D Modeling & CAD  5301
1                  A/B Testing   250
2  Academic Writing & Research   878
3                   Accounting  8522
4                    Animation  7270

In [58]:
pd.set_option('display.max_rows', 93)
test = skill_occupation.merge(skill_scores, how='left',left_on="category_2", right_on="jobTitle")

In [60]:
test.SkillScore.value_counts(dropna=False)

NaN          24
62.342857    10
70.485714     5
60.957143     4
70.185714     4
67.942857     3
72.157143     3
65.642857     3
70.000000     2
47.900000     2
53.828571     2
71.200000     2
52.828571     2
58.371429     2
60.628571     2
61.242857     2
82.242857     2
54.257143     2
47.785714     2
68.071429     1
73.528571     1
59.528571     1
47.285714     1
54.257143     1
47.985714     1
70.671429     1
72.714286     1
44.514286     1
61.285714     1
59.528571     1
61.014286     1
50.800000     1
53.771429     1
52.828571     1
Name: SkillScore, dtype: int64

In [68]:
list_old = list(skill_scores.jobTitle.unique())

In [69]:
list_new = list(skill_occupation.category_2.unique())

In [74]:
def intersection(lst1, lst2): 
    lst3 = [value for value in lst1 if value in lst2] 
    return lst3

In [76]:
# There 82 skills in the old job categories that also exist in the new job categories
print(len(intersection(list_old, list_new)))

82

# Missing

A/B Testing = 

Art & Illustration = 

Architecture = 

Brand Identity & Strategy = 

Chemical Engineering = 

Contract Manufacturing = 

Criminal Law = 

Contract Law = 

Civil & Structural Engineering = 

Data Extraction / ETL = 

Data Mining & Management = 

Data Visualization = 

Editing & Proofreading = 

Family Law = 

Graphics & Design = 

Information Security = 

Intellectual Property Law = 

Interior Design = 

Mechanical Engineering = 

Motion Graphics = 

Other - Data Science & Analytics = 

Other - Legal = 

Product Design = 

Physical Design =

In [98]:
del test['date']
del test['detailedOccupations']
del test['jobTitle']
del test['project_occupation']

In [100]:
test.to_csv("skill_scores.csv",index=False)